


<div class="slider-frame" class="contain">
    
    <div class="btn prev"></div>
    <div class="btn next"></div>

        <div class="row">
          <div class="row__inner" >
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt=""  />
              </div>
              <div  class="tile__details">
                <div class="tile__title">
                  Tamacahut n Narnia
                </div>
                <div class="tile__outils">
                        like
                      </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-2.jpg" alt=""  />
              </div>
              <div class="tile__details">


                <div class="tile__title">
                        Tamacahut n Narnia 
                </div>

                <div class="tile__player">
                        <i style="font-size: 20px;
                                color: #ffffff;
                                position: absolute;
                                top:27%;
                                right:22%;
                                "
                                class="far fa-play"></i>                       
                </div>
               
                <div class="tile__chevron">
                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <svg height="50" width="100"> 
                        <polyline points="0,0 23,10 46,0" 
                        style="fill:none;stroke:red;stroke-width:3" />
                        DropDown
                    </svg>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                </div>

                <div class="tile__outils">
                        <i style="font-size: 14px;
                                color: white;
                                border-radius: 50%;
                                color: #ffffff;
                                border: 1px solid #ffffff;
                                padding: 3px;
                                margin-bottom: 3px;"
                                class="far fa-thumbs-up"></i>   <br>                     
                                
                                <i style="font-size: 14px;
                                color: white;
                                border-radius: 50%;
                                color: #ffffff;
                                border: 1px solid #ffffff;
                                padding: 3px;
                                margin-bottom: 3px;"
                                class="far fa-thumbs-down"></i><br>

                                <i style="font-size: 12px;
                                color: white;
                                border-radius: 50%;
                                color: #ffffff;
                                border: 1px solid #ffffff;
                                padding: 4px;
                                margin-bottom: 10px;"
                        
                                class="fa fa-plus"></i>
                      </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-3.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                        Tamacahut n Narnia
                </div>
                <div class="tile__outils">
                        like
                      </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-4.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-5.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-6.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-7.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-8.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-9.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-10.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-11.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-12.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-13.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-14.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-15.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-16.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-17.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-18.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-19.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
          </div>
        </div>
      
      </div>
